# do not sync datasets
data/official

# do not sync pipeline output
pipelines/modality_prediction/*

# ...but sync scripts
!pipelines/*/lab_scripts
!pipelines/*/configs
!pipelines/*/checkpoints
!pipelines/*/script.py
!pipelines/*/config.vsh.yaml
!pipelines/*/test.py
!pipelines/*/README.md

#...and basic stuff
!pipelines/*/bin/*
!pipelines/*/sample_data/*
!pipelines/*/scripts/*

__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints
notebooks/*.ipynb_checkpoints
.vscode
.mypy_cache
wandb
.Rhistory
lightning_logs
tune

