# do not sync datasets
data/official
data/annotation.gtf

# do not sync pipeline output
pipelines
#...and basic stuff

__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints
notebooks/*.ipynb_checkpoints
.vscode
.mypy_cache
wandb
.Rhistory
lightning_logs
tune

